In [1]:
a="rajvardhan"
print(a)

rajvardhan

In [3]:
a=input('enter a string')
len(input())

2

In [4]:
sentence='python is great'
sentence.split()

['python', 'is', 'great']

In [5]:
sentence='python is great'
sentence.split()[-1]

'great'

In [8]:
sentence='ram shyam laxman'
sentence.split()[-1]

'laxman'

In [11]:
sentence='python is everywhere'
sentence
for word in sentence.split():
    print(word)

python
is
everywhere

In [14]:
a='hello word'
print(a)
sentence.split()[-1]

hello word

'everywhere'

In [19]:
msg='how are you?'
print(msg.upper())
print(msg.lower())
print(msg.capitalize())
print(msg.title())
print(msg.swapcase())
print(msg)

HOW ARE YOU?
how are you?
How are you?
How Are You?
HOW ARE YOU?
how are you?

In [21]:
msg='how it is going'
print(msg.lower())

how it is going

In [22]:
word=['python','is','easy','to','learn']
' '.join(word)

'python is easy to learn'

In [23]:
word=['python','is','easy','to','learn']
'+'.join(word)

'python+is+easy+to+learn'

In [24]:
word=['python','is','easy','to','learn']
sentence=' '.join(word)
print(sentence)

python is easy to learn

#### print a multiline useing a single

In [26]:
print('''this is a story,
 where we are learning python,
 and you are just watching us
''')

this is a story,
 where we are learning python,
 and you are just watching us

In [27]:
sentence="to move to newline'\\n' is used."
print(sentence)

to move to newline'\n' is used.

In [8]:
r=("to move to newline '\n' is used.")
print(r)

to move to newline '
' is used.

In [29]:
s1='python'
s2='is'
s3='great.'
ans=s1 +' '+s2 +' '+s3
print(ans)

python is great.

In [31]:
print('#'*20)

####################

In [33]:
for i in range(1,10):
    print(f'{i}.')

1.
2.
3.
4.
5.
6.
7.
8.
9.

### important methods

In [1]:
msg='Once upon a time, there was a king. and the king was old,there was king. and the king was old,there was no time for the king'
print(msg)

Once upon a time, there was a king. and the king was old,there was king. and the king was old,there was no time for the king

In [3]:
idx= msg.find('time')
print(f'time was found at{idx}')
idx2=msg.find('time',idx+1)
print(f'time was found at{idx2}')
idx3=msg.find('time',idx2+1)
print(f'time was found at{idx3}')

time was found at12
time was found at107
time was found at-1

In [4]:
print(msg.replace('king','queen'))

Once upon a time, there was a queen. and the queen was old,there was queen. and the queen was old,there was no time for the queen

In [7]:
print(msg.replace('was','were'))
print(msg.replace('and','at'))

Once upon a time, there were a king. and the king were old,there were king. and the king were old,there were no time for the king
Once upon a time, there was a king. at the king was old,there was king. at the king was old,there was no time for the king

In [9]:
msg2=msg.replace('time','year',1).replace('old','young')

In [12]:
dirty_data='  apple and bananas    '
print(len(dirty_data))
clean_data=dirty_data.strip()
print(clean_data,len(clean_data))

23
apple and bananas 17

In [13]:
file='data,csv'
if file.endswith('.txt'):
    print('taxt file')
if file.endswith('.txt'):
    print('csv file')

In [20]:
import os
content=os.listdir(r'c:/users/Lenovo/Downloads/')
for file in content:
    if file.endswith('.jpg'):
        print(file)

12TH (HARSH).jpg
JPG_png.jpg
RAJYA V SINGH(domicile)_page-0001 (1).jpg
RAJYA V SINGH(domicile)_page-0001 (2).jpg
RAJYA V SINGH(domicile)_page-0001.jpg

## question thirteen

In [1]:
# print # 20 time withoout loop
a=('#')
print('#'*21)

#####################

## question fourteen

In [7]:
for i in range(1,11):
    print(f'{i}.')

1.
2.
3.
4.
5.
6.
7.
8.
9.
10.

## question fifteen

In [9]:
msg='''Once\n upon\n a\n time,\n there\n was\n a\n king.\n and\n then\n king\n was\n old,\n there\n was\n king.\n and\n the\n king\n was\n old,\n
there\n was\n no time for the king'''
print(msg)

Once
 upon
 a
 time,
 there
 was
 a
 king.
 and
 then
 king
 was
 old,
 there
 was
 king.
 and
 the
 king
 was
 old,

there
 was
 no time for the king

In [4]:
msg='Once upon a time, there was a king. and the king was old,there was king. and the king was old,there was no time for the king'
print(len(msg))
print(msg[0])
print(msg[1])
print(msg[2])
print(msg[3])

124
O
n
c
e

## question nineteen

In [5]:
text='   this is not a good strin   '
clean_data=text.strip()
print(clean_data)

this is not a good strin

## question twenty one

In [7]:
name=('yash,yashi,tom,cris,robert')
lst=name.split()
print(lst)

['yash,yashi,tom,cris,robert']

## question twenty four

In [8]:
taxt=r'%p34@y|*_|t68h#&on4'
print(taxt)

%p34@y|*_|t68h#&on4

In [3]:
text = '%p34@y!*-*!t68h#&on404'

In [4]:
clean_text=''
for char in text:
    # print(char,char.isalpha)
    if char.isalpha():
        clean_text+=char
print(text)
print(clean_text)

%p34@y!*-*!t68h#&on404
python

In [5]:
from string import punctuation,digits
for kachra in punctuation+digits:
    text=text.replace(kachra,'') # replacce works as remove when second argument is empty
print(text)

python

In [7]:
para='this is a paragraph which is written just for the purpose of providing content to let the average word length be calculated'
print('total words:',len(para.split()))
word_count=0
for word in para.split():
    word_count+=len(word)
print('total words:',word_count)
print('average word lengh:',word_count/len(para.split()))

total words: 22
total words: 102
average word lengh: 4.636363636363637